@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');
/* #FF5A5F; */
/* #3ECD3E; */
/* #7C7A7A; */
/* #3C3C3C; */
*{
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #7c7a7a;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #33b333;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3ecd3e;
}


*::selection{
  background-color: #3ecd3e;
  color:#3C3C3C;
}

body{
    background-color: #3C3C3C;
    color: #7c7a7a;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
  color:#3ecd3e;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.logo-wrapper, .buttons-wrapper, footer{
    width: 100%;
}

.lower-wrapper{
    width: 100%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons-wrapper{
    display: flex;
    justify-content: flex-end;
}

.logo-wrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    font-size: 2em;
    color: #3ecd3e;
    font-weight: 700;
}

.text-wrapper{
    width: 80%;
    font-size: 2em;
}

.lyrics p{
  padding: 20px;
  max-height: 400px;
  font-weight: 700;
  font-size: 28px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
  overflow: auto;
}

span{
  transition: none;
}

.title-band{
    opacity: 0.2;
    font-weight: 600;
}

.title-band:hover{
  opacity: 1;
}

.correct{
    color: #3ecd3e;
}

.incorrect{
    color: #FF5A5F;
    text-decoration: underline;
}

.active{
  position: relative;
}

span.active::before{
    position: absolute;
    top: 10px;
    z-index: 3;
    display: inline-block;
    content: "";
    height: 25px;
    width: 3px;
    opacity: 1;
    border-radius: 10px;
    background: #33b333;
    animation: blink 1s ease-in-out infinite;
    margin-bottom: -5px;
  }

  @keyframes blink{
    50%{ 
      opacity: 0; 
    }
  }

  button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #7c7a7a;
    color: #3C3C3C;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
  }

  .restart-btn:hover{
    background-color: #FF5A5F;
  }

  .about-btn:hover, .settings-btn:hover, .custom-btn:hover{
    background-color: #3ecd3e;
  }

  .better-score{
    color: #3ecd3e;
  }

  .worse-score{
    color: #FF5A5F;
  }

  #user-text{
    z-index: -3;
    opacity: 0;
    position: absolute;
  }

  .about-wrapper, .settings-wrapper, .custom-wrapper{
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #22222280;
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(3px);
}

.about, .settings{
    position: relative;
    background-color: #505050;
    width: 50vw;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.custom{
  position: relative;
  background-color: #505050;
  width: 50vw;
  height: 75vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.about-desc, .settings-desc, .custom-desc{
    color: white;
    padding: 30px;
    font-size: 2em;
  }
  
  .custom-desc{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.close-about, .close-settings, .close-custom{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: #7c7a7a;
    border: 3px #7c7a7a solid;
    background-color: #505050;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s ease-in-out;
  }

.close-about:hover, .close-settings:hover, .close-custom:hover{
    color:#FF5A5F;
    border-color: #FF5A5F;
}

.hidden{
  display: none;
  transition: 0.2s;
}

.animation{
  translate: 0 100vh;
  scale: 0;
}

.user-songs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  border-radius: 20px;
  background-color: #3C3C3C;
  border: 5px solid #7c7a7a;
  padding: 10px;
}

.user-songs ul {
  border-radius: 20px;
  width: 100%;
  list-style: none;
  height: 500px;
  overflow: auto;
  padding: 10px;
}

li{
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #505050;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid  #505050;
}

li:hover{
  cursor: pointer;
  /* background-color: #5f5f5f; */
  border: #33b333 2px solid;
}

.delete-song{
  width: 50px;
  height: 50px;
  border-radius:100px ;
  font-size: 30px;
  border: 2px solid #3C3C3C;
  background-color: #505050;
}

.delete-song:hover{
  border: 2px solid #FF5A5F;
  color: #FF5A5F;
}

.custom-buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-radius: 20px;
}

.custom-button{
  font-size: 20px;
  width: 50%;
}

.custom-button:first-of-type:hover{
  background-color: #33b333;
}

.custom-button:last-of-type:hover{
  background-color: #FF5A5F;
}
