@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');
/* #FF5A5F; */
/* #3ECD3E; */
/* #7C7A7A; */
/* #3C3C3C; */
*{
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

*::selection{
  background-color: #3ecd3e;
  color:#3C3C3C;
}

body{
    background-color: #3C3C3C;
    color: #7c7a7a;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
  color:#3ecd3e;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.logo-wrapper, .buttons-wrapper, footer{
    width: 100%;
}

.lower-wrapper{
    width: 100%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons-wrapper{
    display: flex;
    justify-content: flex-end;
}

.logo-wrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    font-size: 2em;
    color: #3ecd3e;
    font-weight: 700;
}

.text-wrapper{
    width: 80%;
    font-size: 2em;
}

.lyrics p{
  font-weight: 700;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}

span{
  transition: none;
}

.title-band{
    opacity: 0.2;
    font-weight: 600;
}

.correct{
    color: #3ecd3e;
}

.incorrect{
    color: #FF5A5F;
    text-decoration: underline;
}

.active{
  position: relative;
}

span.active::before{
    position: absolute;
    top: 10px;
    z-index: 3;
    display: inline-block;
    content: "";
    height: 30px;
    width: 3px;
    opacity: 1;
    border-radius: 10px;
    background: #33b333;
    animation: blink 1s ease-in-out infinite;
    margin-bottom: -5px;
  }

  @keyframes blink{
    50%{ 
      opacity: 0; 
    }
  }

  button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #7c7a7a;
    color: #3C3C3C;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
  }

  .restart-btn:hover{
    background-color: #FF5A5F;
  }

  .about-btn:hover, .settings-btn:hover, .custom-btn:hover{
    background-color: #3ecd3e;
  }

  .better-score{
    color: #3ecd3e;
  }

  .worse-score{
    color: #FF5A5F;
  }

  #user-text{
    z-index: -3;
    opacity: 0;
    position: absolute;
  }

  .about-wrapper, .settings-wrapper, .custom-wrapper{
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #22222280;
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    backdrop-filter: blur(3px);
}

.about, .settings, .custom{
    position: relative;
    background-color: #505050;
    width: 50vw;
    height: 40vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.about-desc, .settings-desc, .custom-desc{
    color: white;
    padding: 30px;
    font-size: 2em;
}

.close-about, .close-settings, .close-custom{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: #7c7a7a;
    border: 3px #7c7a7a solid;
    background-color: #505050;
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.close-about:hover, .close-settings:hover, .close-custom:hover{
    color:#FF5A5F;
    border-color: #FF5A5F;
}

.hidden{
    display: none;
    transition: 0.2s;
}

.animation{
    translate: 0 100vh;
    scale: 0;
}
